/* @import url(http://fonts.googleapis.com/css?family=Brawler); */

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url(http://themes.googleusercontent.com/static/fonts/lora/v7/5-AYViExptypIdFoLKAxTA.woff) format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'), url(http://themes.googleusercontent.com/static/fonts/lora/v7/XpaepWHcooQHSRnzoohUng.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

html {
    margin:0;
    padding:0;
    background-image: url(http://bzg.fr/u/bg-body.png);
}

body {
    font-family:"Lora";
    font-size: 14pt;
    width: 76%;
    margin: auto;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    text-align: justify;
    padding:0;
    line-height: 21pt;
}

a {color:LightSkyBlue;}

#org-div-home-and-up {
    display:none;
}

#content {
    padding: .3em 3.2em 3em 3.2em;
    box-shadow: 1px 1px 6px #111;
}

h1.title {
    text-align: center;
    margin-bottom:.9em;
}

h2 {
    margin: 1em 0 .5em 0;
}

.bg img {
    position:absolute;
    top:10px;
    left:15px;
    width:100px;
    border-radius:50%;
    box-shadow: 0px 0px 2px #111;
}

#share {
    position: fixed;
    bottom:0px;
    left:5px;
    width: 16%;
    padding: 10px 0 3px 0;
    z-index: 1000;
}

#menu {
    position: absolute;
    top: 10px;
    right: 15px;
}

#menu a {
    text-align: right;
    display:block;
    margin: .3em;
}

.bottomrightbutton {
    position:fixed;
    right:15px;
    bottom:10px
}

.planning {
    display: block;
    font-style: italic;
    font-size:90%;
    color: #ccc;
    padding-bottom: .5em;
}

dd {padding:.5em;}

blockquote {
    border-left: 15px solid #eee;
    font-style: italic;
    font-size: 90%;
    padding-left: 2em;
    line-height: 15.5pt;
}

li {
    margin: .5em;
}

.btn {
    width:80px;
    box-shadow: 0px 0px 3px #111;
}

td {
    padding: .2em;
}

table {
    margin-bottom: 1em;
}

pre {
    background-color: #fefefe;
}


.figure {
    font-size: 90%;
    font-style: italic;
    text-align:center;
    padding: 1em;
}

.figure img {
    position: relative;
    width: 80%;
    margin: auto;
    box-shadow: 1px 1px 12px #ccc;
}

img.flattr {
    box-shadow: 1px 1px 12px black;
}

video {
    width: 90%;
    margin: auto;
}

/* ======================================================================== */

#page-wrap { 
    width: 500px; 
    margin: auto; 
}

.jqmWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background-color: #FFF;
    color: #333;
    border: 1px solid black;
    padding: 15px;
}

.jqmOverlay { 
    background-color: #000; 
}

* iframe.jqm {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    width: expression(this.parentNode.offsetWidth+'px');
    height: expression(this.parentNode.offsetHeight+'px');
}

* html .jqmWindow {
    position: absolute;
    top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.jqmClose {text-align:right;}
