@import url("http://fonts.googleapis.com/css?family=Inconsolata|Lekton");
@import url("bootstrap.css");
/* @import url("darkstrap.css"); */

body {
    font-family: 'Inconsolata';
}

.bloglinks {
    font-size: x-large;
}

.done, .todo { font-family: monospace;}
.todo   { color: #f25a5a;}
.done   { color: #dcf692; }
.IN_PROGRESS { color: #f6df92; }
.tag    { background-color: #eee; font-family: monospace;
          padding: 2px; font-size: 80%; font-weight: normal; }
.timestamp { color: #bebebe; }
.timestamp-kwd { color: #5f9ea0; }
.right  { margin-left: auto; margin-right: 0px;  text-align: right; }
.left   { margin-left: 0px;  margin-right: auto; text-align: left; }
.center { margin-left: auto; margin-right: auto; text-align: center; }
.underline { text-decoration: underline; }
#postamble p, #preamble p { font-size: 90%; margin: .2em; }
p.verse { margin-left: 3%; }
pre.src {
    position: relative;
    overflow: visible;
}
pre.src:before {
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
}
pre.src:hover:before { display: inline;}
pre.src-sh:before    { content: 'sh'; }
pre.src-bash:before  { content: 'sh'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-R:before     { content: 'R'; }
pre.src-perl:before  { content: 'Perl'; }
pre.src-java:before  { content: 'Java'; }
pre.src-sql:before   { content: 'SQL'; }

dt { font-weight: bold; }
.footpara:nth-child(2) { display: inline; }
.footpara { display: block; }
.footdef  { margin-bottom: 1em; }
.figure { padding: 1em; }
.inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
}
#org-div-home-and-up
{ text-align: right; font-size: 70%; white-space: nowrap; }
textarea { overflow-x: auto; }
.linenr { font-size: smaller }
.code-highlighted { background-color: #ffff00; }
.org-info-js_info-navigation { border-style: none; }
#org-info-js_console-label { font-size: 10px; font-weight: bold; white-space: nowrap; }
.org-info-js_search-highlight { background-color: #ffff00; color: #000000; font-weight: bold; }

.juvia-preview-content, {
    background: #555;
}

.juvia-comment {
    min-height: 64px;
    margin-bottom: 30px;
}

.juvia-comment .juvia-author {
    font-weight: bold;
}
.juvia-comment .juvia-avatar {
    float: left;
    margin-top: -8px;
    margin-left: -92px;
}

.juvia-comment .juvia-metadata {
    margin-left: 84px;
    position: relative;
    background: #555;
    margin-bottom: 0.5em;
    padding: 8px;
}

.juvia-comment .juvia-creation-date {
    position: absolute;
    right: 12px;
    top: 10px;
    font-size: 70%;
}

.juvia-comment .juvia-data {
    margin-left: 92px;
}

.juvia-preview-content {
    padding: 3px 15px;
}

.juvia-textarea-field textarea {
    width: 99% !important;
}

.sidebar {
    position: fixed;
    width: 48px;
    text-align: left;
}

.sidebar a {
    margin-bottom: 25px;
    display: inline-block;
}

#content,
#postamble {
    margin-left: 60px;
}
